

<% 
         let avisoErro = {"input1":"", "input2":""}
         let msgErro = ""
             if(listaErroslog){
                 listaErroslog.errors.forEach(function(itemErro){
                     if(itemErro.path == "input1"){
                         avisoErro.input1 = "erro";
                         msgErro += `* ${itemErro.msg} <br>`
                     }
                     if(itemErro.path == "input2"){
                         avisoErro.input2 = "erro";
                         msgErro += `* ${itemErro.msg} <br>`
                     }
                 })
                 if(msgErro != ""){
                 %>
                     <script>
                         let msgErro ="<%= msgErro %>"
                         notify("Erro(s) no preenchimento", 
                                "Verifique o(s) campo(s) <br> " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                                "error", "center", 5000)                        
                     </script>
                 <%
                 }
             }
             if (dadosNotificacao) { %>
                 <script>
                         notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                         if("<%= dadosNotificacao.tipo %>" == "success"){
                             setTimeout(function(){window.location="/"}, 3000)
                         }                        
                 </script>
             <% } %>

             
    
           
<form action="/login" method="post">
    <span class="fazer-login-mob">FAZER LOGIN:</span>
    <p class="p-bemVindo">Seja bem-vindo de volta!</p>

    <figure class="caixa-mob">
       <input class="<%= avisoErro.input1%> input1" type="text" id="input1" placeholder="E-MAIL / NOME DE USUÃRIO" name="input1" required>
       <input class="<%= avisoErro.input2%> input2" type="password" id="input2" placeholder="SENHA" name="input2" required>
       <i class="fas fa-eye-slash toggle-password senhalogin" data-target="input2"></i>
    </figure>

    <article class="redes-login-mob">
       <figure class="redes-botoes-mob">
        <a href="/auth/google" class="google-a">
            <img src="imagens/google_logo.svg" alt="login com google" style="display: flex;">
            <p class="texto-google">Fazer login com o Google</p>
        </a>
       </figure>
    </article>

    <input type="submit" value="Login" class="login-submit">
 </form>
 