<main>
    <section id="conteudo-dispositivo-mobile">
        <article>

            <section class="cabecalho-pergunta-mobile">
                <header class="categoria-pergunta-mobile">
                    <img src=".imagens/categoculinaria.svg" alt="icon-categoria-culinaria"
                        class="icon-culinaria">
                    <h1 class="categoria-culinaria-pergunta-mobile">CULINÁRIA</h1>
                </header>
                <img class="feedback-pergunta-mobile" src="./imagens/tres-pontinhos-roxoescuro.png" alt="mão no botão ajudar">
            </section>
            
            <aside class="usuario-pergunta-mobile">
                <h3><span class="nick2">NandãoDoAçaí</span> | Nanda da Silva</h3>
            </aside>
            <p class="pergunta-mobile">Gente, eu comi um bolo de pão de mel em uma festa... queria fazer também </p>
            <nav class="interacoes-pergunta-mobile">
                <button class="ajuda">Ajudas</button>
                <button class="ajudar "> <img class="mao" src="imagens/2-body/maoajuda.svg" alt="opções">Ajudar</button>
            </nav>
        </article>

        <hr class="linhapergunta">

        <section class="visao-geral-comentarios-mobile">
            <h1 class="comem-titulo">13 Comentários</h1>
            <aside class="filtro-comentarios-mobile">
                <img src="./imagens/2-body/filtro-icon-roxoescuro.svg  " alt="filtro">
                <button class="filtrar-comentarios-mobile">Filtrar</button>
            </aside>
        </section>
        <form class="fazer-comentario-mobile">
            <img src="./imagens/imagem-foto-de-perfil-fofa.png" alt="foto-de-perfil">
            <input class="inserir-comentario-mobile" type="text" name="inserir-comentario" id="inserir-comentario"
                placeholder="Digite seu comentário...">
            <label for="inserir-comentario"></label>
        </form>
        <nav class="botoes-comentario-mobile">
            <button class="cancelar-comentario-mobile">Cancelar</button>
            <input class="comentar-mobile" type="submit" value="COMENTAR">
        </nav>

        <article class="comentarios-pergunta-mobile">
            <img class="foto-usuario-comentario-mobile" src="./imagens/icon-garota-taylorfan.png"
                alt="foto-de-perfil-taylorfan">
            <h1>TaylorFan</h1>
            <p class="estrelas-taylor">    </p>
            <img class="tres-pontinhos-comentario" src="./imagens/2-body/tres-pontinhos-roxoescuro.svg"
                alt="tres-pontinhos-roxoescuro"> <br>
        </article>
        <p class="comentario-usuario-mobile">to me babando todo 🤤
            Ate babei</p>
        <aside class="curtir-responder">
            <figure class="coracao-curtir">
                <img class="coracao-vazado" src="./imagens/2-body/coracaovazio.svg" alt="coracação-vazado"
                    onmouseover="toggleLike(this)">
                <img id="coracao-preenchido" class="coracao-preenchido" src="./imagens/2-body/coracao-rosa.svg"
                    alt="coracação-preenchido" style="display: none;" onmouseover="toggleLike(this)">
            </figure>
            <h3 class="responder-coment">| Responder</h3>
        </aside>
        <span class="mostrar-mais-mobile">
            <h1>MOSTRAR MAIS</h1>
        </span>
    </section>

    <section id="conteudo-dispositivo-desktop">
        <section class="alinhamento-pergunta-desktop">
            <% if (postagem.categoria === 1) { %>
                <figure class="categoria-pergunta-desktop_culinaria">
                   <img src="/imagens/icon-culinaria-branco.png" alt="icon-categoria" class="icon-categoria">
                   <h1 class="titulo-categoria"><%= postagem.nomeCategoria %></h1>
                </figure>
             <% } else if (postagem.categoria === 2) { %>
                <figure class="categoria-pergunta-desktop_limpeza">
                   <img src="/imagens/icon-limpeza-branco.png" alt="icon-categoria" class="icon-categoria">
                   <h1 class="titulo-categoria"><%= postagem.nomeCategoria %></h1>
                </figure>
             <% } else if (postagem.categoria === 3) { %>
                <figure class="categoria-pergunta-desktop_bemestar">
                   <img src="/imagens/icon-bemestar-branco.png" alt="icon-categoria" class="icon-categoria">
                   <h1 class="titulo-categoria"><%= postagem.nomeCategoria %></h1>
                </figure>
             <% } %>
             
            <img class="perg-pontinho1" src="" alt="">
            <span class="usuario-pergunta">
                <h3><span class="nick2"> <%= postagem.nome_usuario %> </span> | Nanda da Silva</h3>
            </span>
            <p class="conteudoperg"> <%= postagem.titulo %> </p>
            <nav class="opcoes-ajuda-desktop">
                <button class="ajuda">Patinhas</button>

                <button class="ajudar "> <img class="mao" src="/imagens-svg/patinha-icon.svg"
                        alt="mão botão ajudar">Dar a pata</button>

            </nav>

        </section>
    </section>
</main>