<main>
   <section class="conteudoperf">
      <% if (usuario_logado.autenticado==perfil.Nickname){ %>
         <figure id="fundo-editar-perfil" style="display: none;">
            <article id="editar-perfil-popup" style="display: none;">
               <form action="/editar-perfil" method="post" enctype="multipart/form-data">
                  <figure class="editar-perfil-sair">
                     <h1 class="titulo-editar-perfil">editar perfil</h1>
                     <h1 onclick="SairEditarPerfil()" class="xis-sair">X</h1>
                  </figure>
                  <article class="editar-informacoes-perfil">
                     <% if(perfil.foto_banner_perfil !==null) { %>
                        <img id="banner-editar" class="banner-editar" src="<%= perfil.foto_banner_perfil %>"
                           alt="foto do banner no perfil">
                        <% }else{ %>
                           <img id="banner-editar" class="banner-editar"
                              src="/imagens-svg/2-body/banner-padrao-como-que-faz.svg" alt="foto do banner no perfil">
                           <% } %>

                              <figure class="fotos-perfil-editar">
                                 <img class="fundo-foto-editar" src="/imagens/fundo-foto-perfil.svg"
                                    alt="foto de perfil">
                                 <% if(usuario_logado.foto !==null) { %>
                                    <img id="foto-editar" class="foto-editar" src="<%= perfil.foto_icon_perfil %>"
                                       alt="">
                                    <% }else{ %>
                                       <img id="foto-editar" class="foto-editar"
                                          src="/imagens-svg/2-body/icon-perfil-rosa.svg" alt="">
                                       <% } %>
                              </figure>

                              <div class="camera-container">
                                 <label for="cameraInput1">
                                    <img id="camera1" class="editar-foto-camera"
                                       src="/imagens-svg/2-body/icon-camera-rosa.svg" alt="icon-camera-rosa">
                                 </label>
                                 <input id="cameraInput1" type="file" class="camera-input" name="editar_img_icon"
                                    accept="image/*">

                                 <label for="cameraInput2">
                                    <img id="camera2" class="editar-foto-camera"
                                       src="/imagens-svg/2-body/icon-camera-rosa.svg" alt="icon-camera-rosa">
                                 </label>
                                 <input id="cameraInput2" type="file" class="camera-input" name="editar_img_banner"
                                    accept="image/*">
                              </div>

                              <article class="inputs-editar-perfil">
                                 <h3 id="tit1" class="tit-editar">NOME DE USUÁRIO</h3>
                                 <input class="tex-editar" type="text" name="editar_nome_usuario"
                                    value="<%= perfil.Nickname %>" placeholder="Nome de usuário">
                                 <h3 class="tit-editar">BIOGRAFIA</h3>
                                 <input class="tex-editar" type="text" name="editar_biografia"
                                    value="<%= perfil.Biografia %>" placeholder="Biografia">
                                 <article class="tit-duas-coluna">
                                    <figure class="tit-duas">
                                       <h3 class="tit-editar">NOME DO SITE</h3>
                                       <input id="tex-duas1" class="tex-editar-site" type="text" name="editar_nome_site"
                                          value="<%= perfil.nome_do_site %>" placeholder="Site">
                                    </figure>
                                    <figure class="tit-duas">
                                       <h3 class="tit-editar">URL DO SITE</h3>
                                       <article style="display: flex;">
                                          <p
                                             style="display: flex; font-family: Fira Sans; font-size: 2.2vh; align-items: center;">
                                             http://</p><input id="tex-duas2" class="tex-editar-url" type="text"
                                             name="editar_url_site" value="<%= perfil.url_do_site %>"
                                             placeholder="URL do site">
                                       </article>
                                    </figure>
                                 </article>
                              </article>

                              <h3 id="tit1" class="tit-editar" style="margin-top: 6vh;">CONFIRME SUA SENHA</h3>
                              <input class="tex-editar" type="password" placeholder="Insira sua senha atual"
                                 name="editar_confirmar_senha" required>
                              <button type="submit" class="salvar">SALVAR</button>
                  </article>
               </form>
               <script>
                  const cameraInput1 = document.getElementById('cameraInput1');
                  const cameraInput2 = document.getElementById('cameraInput2');
                  const bannerEditar = document.getElementById('banner-editar');
                  const fotoEditar = document.getElementById('foto-editar');

                  function atualizarImagem(input, targetImage) {
                     if (input.files && input.files[0]) {
                        targetImage.src = URL.createObjectURL(input.files[0]);
                     }
                  }

                  cameraInput1.addEventListener('change', () => {
                     atualizarImagem(cameraInput1, fotoEditar);
                  });

                  cameraInput2.addEventListener('change', () => {
                     atualizarImagem(cameraInput2, bannerEditar);
                  });
               </script>
            </article>
         </figure>
         <% } %>

            <article id="Perfil" class="tabcontent active">

               <figure class="mapa-do-site">
                  <a class="url-site-perfil-a" href="/">
                     <p class="mapa-1">Home</p>
                  </a>
                  <p class="seta-mapa"> > </p>
                  <p class="mapa-2">Meu Perfil</p>
               </figure>
               <section class="perfil-cima">
                  <% if(perfil.foto_banner_perfil !==null) { %>
                     <img class="gato-esticado" src="<%= perfil.foto_banner_perfil %>" alt="foto do banner no perfil">
                     <% }else{ %>
                        <img class="gato-esticado" src="/imagens-svg/2-body/banner-padrao-como-que-faz.svg"
                           alt="foto do banner no perfil">
                        <% } %>

                           <article class="foto-perfil_editar-perfil">
                              <figure class="foto-de-perfil-fundo">
                                 <img class="fundo-foto-perfil" src="/imagens/fundo-foto-perfil.svg"
                                    alt="foto de perfil">
                                 <% if(perfil.foto_icon_perfil !==null) { %>
                                    <img class="foto-perfil" src="<%= perfil.foto_icon_perfil %>" alt="">
                                    <% }else{ %>
                                       <img class="foto-perfil" src="/imagens-svg/2-body/icon-perfil-rosa.svg" alt="">
                                       <% } %>
                              </figure>

                              <% if (usuario_logado.autenticado==perfil.Nickname){ %>
                                 <button class="editar-perfil" onclick="EditarPerfil()">Editar Perfil</button>
                                 <% } else {%>
                                    <button class="seguir-perfil">Seguir</button>
                                    <% } %>
                           </article>
                           <article class="texto-perfil">
                              <h1 class="User1234">
                                 <%= perfil.Nickname %>
                              </h1>
                              <h5 class="descricao-perfil">
                                 <%= perfil.Biografia %>
                              </h5>

                              <figure class="links-redes_sociais">
                                 <% if(perfil.url_do_site !==null) { %>
                                    <img class="icon-link" src="/imagens-svg/2-body/icon-de-link.svg"
                                       alt="icone de link">
                                    <% if(perfil.nome_do_site !==null) { %>
                                       <span class="site-perfil">
                                          <%= perfil.nome_do_site %>
                                       </span>
                                       <span class="site-perfil">|</span>
                                       <% }else{}%>
                                          <a class="url-site-perfil-a" href="https://<%= perfil.url_do_site %>"><span
                                                class="link-site-perfil">
                                                <%= perfil.url_do_site %>
                                             </span></a>
                                          <% }else{}%>
                              </figure>
                              <figure class="seguidores-seguindo-dicas">
                                 <figure class="seguidores-seguindo-dicas_figure">100 seguidores</figure>
                                 <figure class="seguidores-seguindo-dicas_figure">200 seguindo</figure>
                                 <figure class="seguidores-seguindo-dicas_figure">
                                    <%= total_postagens %> postagens
                                 </figure>
                              </figure>
                           </article>
               </section>

               <section class="perfil-baixo">
                  <article class="postagens-perfil-baixo">
                     <h1 class="titulo-postagens-perfil">Postagens - <%= perfil.Nickname %>
                     </h1>
                     <section class="postagens-perfil">
                        <% if(total_postagens> 0) { %>
                           <%- include("../perguntas-dicas/base-postagens") %>
                              <% }else{ %>
                                 <figure class="aviso-sem-postagens">
                                    <img class="gato-sem-rascunhos"
                                       src="/imagens-svg/2-body/gato-nuvem-sem-conteudo.svg" alt="sem rascunhos">
                                    <span class="gato-sem-rascunhos-aviso-texto">Nenhuma postagem nesse perfil!</span>
                                 </figure>
                                 <% }%>
                     </section>
                  </article>
               </section>
            </article>
   </section>

   <script src="./js/base-post-mb.js"></script>
</main>