<section class="postagens">
   <% if (postagens.length > 0) { %>
      <% postagens.forEach(function(item) { %>
         <% if (item.tipo === 'dica') { %>
            <section class="postagem">
               <figure class="postagem_parte_de_cima">
                  <h1 id="texto-a   tras5-B" class="titulo_post postagem_info_primeiro_plano"><%= item.nome %></h1>
                  
                  <% if (item.categoria === 1) { %>
                     <img id="icon-categoria-branco" src="imagens/icon-culinaria-branco.png" alt="" class="postagem_info_primeiro_plano">
                  <% } else if (item.categoria === 2) { %>
                     <img id="icon-categoria-branco" src="imagens/icon-limpeza-branco.png" alt="" class="postagem_info_primeiro_plano">
                  <% } else if (item.categoria === 3) { %>
                     <img id="icon-categoria-branco" src="imagens/icon-bemestar-branco.png" alt="" class="postagem_info_primeiro_plano">
                  <% } %>
                  <img src="imagens/post-organizacao-rotina.png" alt="foto-post5" class="imagem_postagem">
               </figure>
                  <aside class="legenda">
                     <figure class="legenda relogio">
                        <img src="imagens/relogio-cinza.svg" alt="relogio">
                        <h3><%= item.tempo %></h3>
                     </figure>
                     <figure class="legenda estrela">
                        <img src="imagens/estrela-cinza.svg" alt="estrela">
                        <h3>5.0</h3>
                     </figure>
                     <% if(item.porcoes != null){ %>
                     <figure class="legenda partes">
                        <img src="imagens/partes-cinza.png" alt="partes">
                        <h3><%= item.porcoes %></h3>
                     </figure>
                     <% } %>
                  </aside>
                  <aside class="hover-post" id="hover-post5-B">
                     <h3>essa dica não possui itens necessários</h3>
                  </aside>
         
            </section>
         <% } else if (item.tipo === 'pergunta') { %>
            <section class="pergunta">
                     <% if (item.categoria === 1) { %>
                        <article class="parte-cima-pergunta">
                           <h4 class="nome-usuario-pergunta-culinaria">Nome Usuário</h4>
                           <p class="texto-pergunta"><%= item.nome %></p>
                        </article>
                        <article class="parte-baixo-pergunta figureCulinaria">
                           <figure class="pergunta-categoria">
                              <img src="imagens/icon-culinaria-branco.png" alt="">
                              <p>Culinária</p>
                           </figure>
                           <figure class="patinhas">
                              <img src="imagens-svg/patinha-icon.svg" alt="ícone-patinhas">
                              <p>5</p>
                           </figure>
                        </article>
                     <% } else if (item.categoria === 2) { %>
                        <article class="parte-cima-pergunta">
                           <h4 class="nome-usuario-pergunta-limpeza">Nome Usuário</h4>
                           <p class="texto-pergunta"><%= item.nome %></p>
                        </article>
                        <article class="parte-baixo-pergunta figureLimpeza">
                        <figure class="pergunta-categoria">
                           <img src="imagens/icon-limpeza-branco.png" alt="">
                           <p>Limpeza</p>
                        </figure>
                        <figure class="patinhas">
                           <img src="imagens-svg/patinha-icon.svg" alt="ícone-patinhas">
                           <p>5</p>
                        </figure>
                     </article>
                     <% } else if (item.categoria === 3) { %>
                        <article class="parte-cima-pergunta">
                           <h4 class="nome-usuario-pergunta-bemestar">Nome Usuário</h4>
                           <p class="texto-pergunta"><%= item.nome %></p>
                        </article>
                        <article class="parte-baixo-pergunta figureBemEstar">
                        <figure class="pergunta-categoria">
                           <img src="imagens/icon-bemestar-branco.png" alt="">
                           <p>Bem Estar</p>
                        </figure>
                        <figure class="patinhas">
                           <img src="imagens-svg/patinha-icon.svg" alt="ícone-patinhas">
                           <p>5</p>
                        </figure>
                     </article>
                     <% } %>
            </section>
         <% } %>
      <% }); %>
      <% if (paginador) { %>
         <div class="notificador">
            <ul>
               <% for(var i=1; i <=paginador.total_paginas; i++){
                  if(paginador.pagina_atual==i){
               %>
               <li class="select"><a class="pagina-atual" href="/posts?categoria=${categoriaAtual}&filtro=${filtroAtual}&pagina=${proximaPagina}">
                     <%= i %>
                  </a>
               </li>
               <% } else { %> 
                  <li class="not_select"><a href="?pagina=<%= i %>">
                        <%= i %>
                     </a>
                  </li>
               <% }
            } %> 
            </ul>
         </div>
      <% }; %>
   <% } %>
</section>

 </section>
    